@use "../../assets/styles/mixins" as mixin;

.header {
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  color: var(--primary);
  background-color: white;
  img {
    width: 70px;
    cursor: pointer;
  }
  .desktopHeader {
    display: block;
    @include mixin.xs {
      display: none;
    }
    .button {
      .fas {
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
  i {
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
    }
    @include mixin.xs {
      display: block;
    }
  }
}

.white {
  color: white;
}